
.App {
  text-align: center;
}
.nav{
  background-color: rgb(12, 15, 15);
  height: 70px;
  padding-top: 1%;
}
.navItem{
  font-size: x-large;
  padding-left: 31%;
  text-decoration: none;
  color: white;
}
.bgimage{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bod{
 position: absolute;
 top: 24%;
 color: white;
 left: 30%;
 border: 1px solid blue;
 width: 40%;
 padding: 1%;
}
.fields{
  padding-bottom: 2%;
}
.bt{
  background-color: orangered;
  cursor: pointer;
  border-radius: 4px;
}

.welcome{
  position: absolute;
  color: white;
  left: 70%;
  top: 3%;
}
.not{
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: x-large;
}
.container{
  margin-top: 2%;
  
}
.logout{
  position: absolute;
  color: white;
  left: 90%;
  top: 3%;
  background-color: black;
}